{% extends "template.html" %}

{% block content %}
<table class="table table-striped table-bordered w-100">
    <thead>
        <tr>
            <th>ID Proyecto</th>
            <th>Nombre Proyecto</th>
            <th>Estado</th>
            <th>Monto Inversión</th>
            <th>Inicio Construcción</th>
            <th>Fin Construcción</th>
            <th>Vida</th>
            <th>Ubicación</th>
            <th>Capacidad Generación Diaria (MW)</th>
            <th>Inversionistas</th>
            <th>DNI</th>
            <th>Numero telefono</th>
            <th>Monto Invertido</th>
            <th>Tipo Inversionista</th>
            <th>Número Inversionistas</th>
        </tr>
    </thead>
    <tbody>
        {% for item in lista %}
        <tr>
            <td>{{ item.idProyecto }}</td>
            <td>{{ item.nombreProyecto }}</td>
            <td>{{ item.estado }}</td>
            <td>{{ item.montoInversion }}</td>
            <td>{{ item.tiempoInicioConstruccion }}</td>
            <td>{{ item.tiempoFinConstruccion }}</td>
            <td>{{ item.tiempoVida }}</td>
            <td>{{ item.ubicacion }}</td>
            <td>{{ item.capacidadGeneracionDiaria }}</td>
            <td>
                <ul>
                    {% for inversionista in item.inversionistas %}
                    <li>{{ inversionista.nombre }} {{ inversionista.apellido }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for inversionista in item.inversionistas %}
                    <li>{{ inversionista.dni }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for inversionista in item.inversionistas %}
                    <li>{{ inversionista.celular }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for inversionista in item.inversionistas %}
                    <li>{{ inversionista.montoInvertido }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for inversionista in item.inversionistas %}
                    <li>{{ inversionista.tipoInversionista }}</li>
                    {% endfor %}
                </ul>
            </td>

            <td>{{ item.numeroInversionistas }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}